<ul [ngClass]="{'residential-parking-income': !isCommercial, 'commercial-parking-income': isCommercial}">
  <form [formGroup]="newIncomeForm" novalidate>
    <div class='use'>
      <div class='edit'>
        <input type='text' formControlName="usage">
      </div>
    </div>
    <div class='square-feet'>
      <div class='edit'>
        <input type='number' formControlName="squareFeet">
      </div>
    </div>
    <div class='monthly-rent'>
      <div class='edit'>
        <input type='number' formControlName="monthlyRent">
      </div>
    </div>
    <div>
      <button (click)="addClick()">add</button>
    </div>
  </form>
  <template ngFor let-otherIncome [ngForOf]="(incomes | async)">
    <other-income-source
      [income]="otherIncome"
      (onDestroy)="handleDestroy($event)"
    ></other-income-source>
  </template>
</ul>
