<div class='column'>
  <div id='inner_page_title'>
    <h1>FHA Sec. 223(f) refinance/purchase demo</h1>
  </div>  
  <div id='todoapp'>
    <div class='content'>
      <div id='income'>
        <apartment-income (incomeChange)="handleResidentialIncome($event)"></apartment-income>
        <residential-other-income></residential-other-income>
        <commercial-other-income></commercial-other-income>
        <commercial-parking-income></commercial-parking-income>
        <residential-parking-income></residential-parking-income>
        <div id='operating-income'>
          <commercial-effective-income></commercial-effective-income>
          <residential-effective-income></residential-effective-income>
          <div id='effective-income-container'>
            <div class='left'>effective income</div>
            <div class='right'>{{grossIncome$ | async | currency:'USD':true}}</div>
          </div>
        </div>
      </div>
      <operating-expenses></operating-expenses>
      <project-characteristics></project-characteristics>
      <div id='acquisition-costs'>
        <dynamic-form [questions]="questions" [questionsObj]='questionsObj'></dynamic-form>
      </div>
    </div>
  </div>
</div>
