<apartment-income (incomeChange)="handleResidentialIncome($event)"></apartment-income>
<residential-other-income></residential-other-income>
<commercial-other-income></commercial-other-income>
<parking-income (incomeChange)="handleResidentialIncome($event)" [isCommercial]="false"></parking-income>
<parking-income (incomeChange)="handleCommercialIncome($event)" [isCommercial]="true"></parking-income>
<effective-income [isCommercial]="true" [maxOccupancyPercent]="80"></effective-income>
<effective-income [isCommercial]="false" [maxOccupancyPercent]="95"></effective-income> 
<operating-expenses></operating-expenses>
<dynamic-form [questions]="questions"></dynamic-form>

<counter-input [isChecked]="true" [numericValue]="10"></counter-input>
