<table class='parking' id='commercial-parking-income'>
  <caption class='income-table'>commercial parking income</caption>
  <colgroup>
    <col />
    <col />
    <col class="square-footage" />
    <col class="monthly-income" />
    <col id="destroy" />
  </colgroup>
  <thead>
    <tr>
      <th>
        spaces<span class='required'>*</span>	
      </th>	
      <th>
      </th>	
      <th>
        total square feet
      </th>	
      <th>
        monthly fee<span class='required'>*</span>	
      </th>
      <th>
      </th>	
    </tr>
  </thead>
  <div [formGroup]="newIncomeForm" id='new-commercial-parking-income' novalidate>
    <div>
      <input class='commercial-parking-spaces' type='number' formControlName="spaces" required>
    </div>
    <div>
      <select class='commercial-parking-type' formControlName="parkingStyle">
        <option *ngFor="let style of parkingStyles">{{style}}</option>
      </select>
    </div>
    <div>
      <input class='commercial-parking-square-feet' type='number' formControlName="squareFeet">
    </div>
    <div>
      <input class='commercial-parking-monthly-fee' type='number' formControlName="monthlyFee" required>
    </div>
    <div>
      <div class='add'>
        <button (click)="addClick()" class="mdl-button mdl-js-button mdl-button--icon">
					<i class="material-icons">add_circle_outline</i>
				</button>
      </div>
    </div>
  </div>
  <template ngFor let-parkingIncome [ngForOf]="(incomes | async)">
    <div class='commercial-parking-income'>
      <parking-income-source
        [income]="parkingIncome"
        (onDestroy)="handleDestroy($event)"
      ></parking-income-source>
    </div>
  </template>
</table>
