<div [id]="question.containerId || ''" [formGroup]="form">
  <label [attr.for]="question.key">{{question.label}}
    <span *ngIf="question.required" class='required'>*</span>
  </label>
  <input *ngIf="question.controlType === 'checkbox'" type='checkbox' [formControlName]="question.key" [id]="question.key" value='true' />
  <input *ngIf="question.controlType === 'textbox'" [formControlName]="question.key" (change)="changeHandler($event)"
  [id]="question.key" [type]="question.type">
  <select [id]="question.key" *ngIf="question.controlType==='dropdown'" [formControlName]="question.key">
    <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
  </select>
  <div *ngIf="question.controlType==='radio'">
    <label *ngFor="let opt of question.options">
      <input type="radio" [value]="opt.key" [formControlName]="question.key">{{opt.value}}
    </label>
  </div>
</div>
