<div [id]="question.containerId || ''" [formGroup]="form">
  <label *ngIf="question.displayLabel" [attr.for]="question.key">{{question.label}}
    <span *ngIf="question.required" class='required'>*</span>
  </label>
  <input *ngIf="question.controlType === 'checkbox'" type='checkbox' [formControlName]="question.key" [id]="question.key" value='true' />
  <input *ngIf="question.controlType === 'textbox'" [formControlName]="question.key"
  [id]="question.key" [type]="question.type">
  <select [id]="question.key" *ngIf="question.controlType==='dropdown'" [formControlName]="question.key">
    <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
  </select>
  <div *ngIf="question.controlType==='radio'">
    <template ngFor let-opt [ngForOf]="question.options">
      <label [attr.for]='opt.id'>{{opt.value}}</label>
      <input type="radio" [id]="opt.id" [value]="opt.value" [formControlName]="question.key">
    </template>
      <!-- <input type="radio" [id]="opt.id" [formControlName]="question.key"> -->
    <!-- <input type="radio" [value]="opt.key" [formControlName]="question.key"> -->
  </div>
</div>
