<li>
  <div class='use'>
    <div class='display' *ngIf="!newIncome">{{otherIncome.usage}}</div>
    <div class='edit' *ngIf="newIncome">
      <input type='text' [(ngModel)]="otherIncome.usage">
    </div>
  </div>
  <div class='square-feet'>
    <div class='display' *ngIf="!newIncome">{{otherIncome.squareFeet}}</div>
    <div class='edit' *ngIf="newIncome" >
      <input type='number' [(ngModel)]="otherIncome.squareFeet">
    </div>
  </div>
  <div class='monthly-rent'>
    <div class='display' *ngIf="!newIncome">{{otherIncome.monthlyRent}}</div>
    <div class='edit' *ngIf="newIncome">
      <input type='number' [(ngModel)]="otherIncome.monthlyRent">
    </div>
  </div>
  <div>
    <div class="delete-container" *ngIf="!newIncome">
      <button class="simple-income-source-destroy destroy-item" (click)="handleDestroyClick()">delete</button>
    </div>
    <div *ngIf="newIncome">
      <button (click)="handleAddClick()">add</button>
    </div>
  </div>
</li>
