<div class='spaces'>
  <div class='display'>{{income.spaces}}</div>
</div>
<div class='indoor-or-outdoor'>
  <div class='display'>{{income.parkingStyle}}</div>
</div>
<div class='total-square-feet'>
  <div class='display'>{{income.squareFeet}}</div>
</div>
<div class='monthly-fee'>
  <div class='display'>{{income.monthlyFee}}</div>
</div>
<div>
  <div class="delete-container">
    <button (click)="onDestroy.emit(income)" class="mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">remove_circle_outline</i>
    </button>
  </div>
</div>
