<div class='spaces'>
  <div class='display'>{{income.spaces}}</div>
</div>
<div class='indoor-or-outdoor'>
  <div class='display'>{{income.parkingStyle}}</div>
</div>
<div class='total-square-feet'>
  <div class='display'>{{income.squareFeet}}</div>
</div>
<div class='monthly-fee'>
  <div class='display'>{{income.monthlyFee}}</div>
</div>
<div>
  <div class="delete-container">
    <button class="parking-income-destroy destroy-item" (click)="onDestroy.emit(income)">delete</button>
  </div>
</div>
