<div class='apartment-income'>
  <div class='bedroom-count'>
    <div class='display'>{{income.bedrooms}}</div>
  </div>
  <div class='unit-count'>
    <div class='display'>{{income.units}}</div>
  </div>
  <div class='square-feet'>
    <div class='display'>{{income.squareFeet}}</div>
  </div>
  <div class='monthly-rent'>
    <div class='display'>{{income.monthlyRent}}</div>
  </div>
  <div>
    <div class="delete-container">
      <!-- <button class="apartment-income-destroy destroy-item" (click)="onDestroy.emit(income)"><i class="material-icons">ic_remove_circle_outline</i></button> -->
      <button class="mdl-button mdl-js-button mdl-button--icon " (click)="onDestroy.emit(income)"><i class="material-icons">remove_circle_outline</i></button>
    </div>
  </div>
</div>
