div#new-apartment-income {
  width: 508px;
  height: 23px;
}

#new-apartment-income div {
	width: 115px;
  float: left;
  padding: 1px;
  margin-right: 2px;
	border: 1px solid black;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#new-apartment-income div:nth-child(-n+2) {
	width: 113px;
}

#new-apartment-income div:nth-child(1) {
	text-align: center
}

#new-apartment-income div:nth-child(5) {
	width: 20px;
}

#new-apartment-income div.add {
	width: 16px;
  height: 16px;
  margin: auto;
}

#new-apartment-income input {
	width: 96%;
	height: 99%;
}
