<table id="apartment-income">
  <caption class='income-table'>apartment income</caption>
  <colgroup>
    <col id="apartment-bedroom-count" />
    <col id="apartment-unit-count" />
    <col className="square-footage" id="apartment-square-feet" />
    <col className="monthly-income" id="apartment-monthly-rent" />
    <col id="destroy" />
  </colgroup>
  <thead>
    <tr>
      <th>
        bedrooms<span class='required'>*</span>	
      </th>	
      <th>
        units<span class='required'>*</span>	
      </th>	
      <th>
        square feet
      </th>	
      <th>
        monthly rent<span class='required'>*</span>	
      </th>	
      <th>
      </th>	
    </tr>
  </thead>
  <div id="new-apartment-income" [formGroup]="newIncomeForm" novalidate>
    <div>
      <select class='apartment-bedroom-count' formControlName="bedrooms">
        <option *ngFor="let count of bedroomCounts">{{count}}</option>
      </select>
    </div>
    <div>
      <input class='apartment-unit-count' type='number' formControlName="units" required>
    </div>
    <div>
      <input class='apartment-square-feet' type='number' formControlName="squareFeet" >
    </div>
    <div>
      <input class='apartment-monthly-rent' type='number' formControlName="monthlyRent" required>
    </div>
    <div>
      <div class='add'>
        <button class='add-apartment-income add-item' (click)="addClick()"><i class="material-icons">ic_add_circle_outline</i></button>
      </div>
    </div>
  </div>
    <template ngFor let-apartmentIncome [ngForOf]="(incomes | async)">
        <apartment-income-source
          [income]="apartmentIncome"
          (onDestroy)="handleDestroy($event)"
        ></apartment-income-source>
    </template>
</table>
