body {
  background-color: lightgrey;
}

#inner_page_title {
  width: 550px !important;
  height: 50px !important;
  margin: auto;
}

#inner_page_title h1 {
  text-align:center !important
}

#todoapp {
  margin: auto;
}

div#transaction-amount-input {
  width: 255px !important
}

div#transaction-amount-input label {
  padding: 0 !important
}

div#transaction-amount-input input {
  float: right !important;
  margin-right: 5% !important;
}

div#transaction-amount-type-selector {
  padding-left: 0px !important;
}
